@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Fundo claro */
  --foreground: #000000; /* Texto escuro */
}

@media (prefers-color-scheme: dark) {
  /* Sobrescreve o tema escuro para forçar o tema claro */
  :root {
    --background: #ffffff; /* Fundo claro */
    --foreground: #000000; /* Texto escuro */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

